{% extends 'polls/base.html'%}
{% block main_content %}
<title> Account </title>
<div class="container" style="text-align:center">
    <h1> Online Petrol Billing System </h1><br>
    {% csrf_token %}
    <p style="text-align:center"><strong> Bill Report Table </strong></p>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% include 'polls/search.html' %}
    <form class="form-signin">
        {% csrf_token %}
         <a href="{% url 'excelsheet' %}" button type="submit" class="btn btn-md btn-primary btn-block">Download Excel Report</a>
    </form>
   
    <table class='table table-bordered table-hover'>
        <thread>
            <tr>
                <th> Employ </th>
                <th> Supervisor </th>
                <th> Department </th>
                <th> Type of Worker(Insource or Oursource) </th>
                <!-- <th> Accepted no of petrol </th> -->
                <!-- <th> Month </th> -->
                <th> Validation </th>
                <th>Paid Status</th>
            </tr>
        </thread>
        <tbody>
        {% for pet in data2 %}
            <tr>
                <td> {{pet.worker_id.name}} </td>
                <td> {{pet.worker_id.name_of_supervisor}} </td>
                <td> {{pet.worker_id.department}} </td>
                <td> {{pet.worker_id.worker_type}} </td>
                <!-- <td>{{employee.accepted_petrol_liter}}</td> -->
                <!-- <td> {{employee.bill_month}}</td> -->
                <td> {{pet.HR_valid}}</td>
                {% if 'yes' in pet.paid_status %}
                <td>{{pet.paid_status}}</td>
                {% elif 'no' in pet.paid_status %}
                <td><a href="{% url 'account_detail' value=pet.worker_id.id %}">{{pet.paid_status}}</a></td>
                {% else %}
                <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form class="form-signin">
        {% csrf_token %}
        {% endblock %}
        }
    </form>
</div>