{% extends 'polls/base.html' %}
{% block main_content %}
<title> Bill Upload </title>
<div class="container" style="text-align:center">
    <h1> Online Petrol Billing System </h1><br>
    {% csrf_token %}
    <p style="text-align:center"><strong> Bill Uploaded status table </strong></p>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% include 'polls/search.html' %}
    <table class='table table-bordered'>
        <thread>
            <tr>
                <th> Name of Employ </th>
                <th> Department </th>
                <!-- <th> Liter of Petrol Request </th> -->
                <th> New Upload Status </th>
            </tr>
        </thread>
        <tbody>
        {% for pet in data2 %}
            <tr>
                <td> {{pet.worker_id.name}} </td>
                <td> {{pet.worker_id.department}} </td>
                <!-- <td> {{employee.request_petrol_liter}}</td> -->
                {% if 'yes' in pet.bill_status %}
                    <td><a href="{% url 'hr_detail' value=pet.worker_id.id %}"> {{pet.bill_status}} </a></td>
                {% elif 'no' in pet.bill_status %}
                    <td>{{pet.bill_status}}</td>
                {% else %}
                     <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form class="form-signin">
        {% endblock %}
    </form>
</div>