{% extends 'polls/base.html' %}
{% block main_content %}
{% load staticfiles %}
<title> Employ Detail </title>
<style>
    td{
        width:40%;
        text-align: center;
    }
    th{
        width:40%;
    }
</style>
<div class="container">
    <h1> Online Petrol Billing System </h1><br>
    {% csrf_token %}
    <p style="text-align:center"><strong> This is a detail view of Employee. </strong></p>
    <table class='table table-bordered'>
        <thread>
            <tr>
                <th> Employ Name</th>
                <td> {{data.name}} </td>
            </tr>
        </thread>
        <tbody>
            <tr>
                <th> Department </th>
                <td> {{data.department}}</td>
            </tr>
            <tr>
                <th> Type(Insource or Oursource) </th>
                <td> {{data.worker_type}} </td>
            </tr>
            <tr>
                <th> Request no of petrol </th>
                <td> {{data2.request_petrol_liter}} </td>
            </tr>
            <tr>
                <th> Date </th>
                <td> {{data2.request_date}} </td>
            </tr>
            <tr>
                <th> Reason </th>
                <td> {{data2.request_message}} </td>
            </tr>
        </tbody>
    </table>
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <button type='submit' class='btn btn-md btn-primary btn-block' name="accept">Accept</button>
        <button type='submit' class='btn btn-md btn-primary btn-block' name="modify">Modify </button>
        <button type="submit" class="btn btn-md btn-primary btn-block" name="reject">Reject</button>
        {% endblock %}
    </form>
</div>